# Ignore node_modules directory
node_modules/

# Ignore compiled CSS and JS files
/dist/

# Ignore environment files
.env

# Ignore log files
*.log

# Ignore local development files and directories
.vscode/
.idea/

# Ignore dependencies installed via npm
package-lock.json
